<%-
  props = local_assigns
  input_classes = ['input yarii-cloudinary--text-input']
  input_classes << className if props[:className]
  name = name_from_variable(props)
  value = value_from_variable(props)
%>
<div
  data-controller="cloudinary-single-media"
  data-cloudinary-single-media-cloud="<%= ENV['yarii_cloudinary_cloud_name'] %>"
  data-cloudinary-single-media-browse-path="<%= yarii_cloudinary.media_path %>"
  data-cloudinary-single-media-form-thumbnail-path="<%= yarii_cloudinary.form_thumbnail_medium_path(0) %>"
  class="yarii-cloudinary--field field"
>
  <label class="label"><%= props[:label] %></label>
  <div class="control">
    <div class="level">
      <div class="level-item is-narrow">
        <div data-target="cloudinary-single-media.thumbnail">
          <% if value.present? %>
            <%= render 'yarii_cloudinary/media/form_thumbnail', public_id: value %>
          <% end %>
        </div>
      </div>
      <div class="level-item">
        <%= content_tag :input, nil, name: name, value: value, class: input_classes.join(' '), type: 'text', placeholder: props[:placeholder], data: {target: 'cloudinary-single-media.input'} %>
      </div>
      <div class="level-item is-narrow">
        <button data-action="cloudinary-single-media#open" class="button is-primary">Upload</button>
        <button data-action="cloudinary-single-media#browse" class="button is-success">Browse</button>
      </div>
    </div>
  </div>
</div>